section{ 
    background-color: rgb(223, 245, 245);
    padding: 90px;
    padding-bottom: 0;}
    
hr{
    border-width: 5px;}
    
.container{
    color: rgb(121, 224, 202);
    text-align: center;
    position:relative;}
    
    
.mountain-1{
    width: 500px;
    height: 300px;}
    
.content{
    text-align: center;
    position: relative;}
    
h1,h3,h4{
    color:rgb(121, 224, 202);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}



span{
        position: absolute;
        top: 1500px;
        left: 500px;
        color: rgb(92, 216, 148);}
    
  
.portfolio{
    background-color: rgb(207, 189, 189);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    padding-top: 10%;
    padding-bottom: 10%;
text-align: center;}
    
.portfolio img{
    width: 400px;
    height: 400px;
    margin: 5px;}

.portfolio img:hover{
    transform: scale(1.1);}
.content2{
    text-align: center;
    margin: 70px;}
    
button{
        margin-left:600px ;
        background: rgb(77, 226, 231);
        font-weight: bold;
        outline: none;
        height:30px ;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        color: white;}   
button:hover{
    background-color: rgb(44,189,87);
    color: white;
        }
        

        .social{
            background-color: rgb(77, 226, 231);
            text-align: center;}
        .social{
            display: inline-block;
            color: rgb(80, 157, 192);}
        .social ul{
            width: 1300px;}
        .social ul li{
            display: inline-block;
            padding: 30px 100px; }
        
        footer{
            display: inline-block;}
        footer ul{
            width: 900px;}
        footer ul li{
            display: inline-block;
            padding: 20px 120px;}
        footer ul li a{
            text-decoration: none;
            color: white;}
         